<header>
  <div class="logoEfrase">
    <img
      (click)="navHome()"
      src="../../../../assets/img/folha.png"
      class="logo"
    />
    <h1 style="font-weight: 500; color: #262626; font-size: 18px;">GALPONILTON</h1>
  </div>

  <div class="menu-direita">
    <!-- Links para Produtos e Rastrear entrega -->
    <a class="menu-link" (click)="navProdutos()">Produtos</a>
    <a class="menu-link" (click)="navLote()">Registrar lote</a>
    <a class="menu-link" (click)="navRastrearEntrega()">Rastrear Entrega</a>

    <!-- Dropdown do usuário -->
    <div class="dropdown" (click)="toggleDropdown()">
      <img
        [src]="user?.photoPath ? user?.photoPath :  '../../../../assets/icons/default.webp'"
        alt="Foto do Perfil"
        class="foto-perfil"
      />
      <span class="nome-usuario">{{ user?.name || 'Usuário' }}</span>
      <i *ngIf="!dropdownAberto" class="fa fa-chevron-down icon-seta"></i>
      <i *ngIf="dropdownAberto" class="fa fa-chevron-up icon-seta"></i>
      <div *ngIf="dropdownAberto" class="dropdown-conteudo">
        <a (click)="navPerfil()">Perfil</a>
        <a (click)="openLogoutModal()">Sair</a>
      </div>
    </div>
  </div>
</header>

<div *ngIf="showLogoutModal" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-title">
      <img src="../../../../assets/img/folha.png">
      Confirmar Logout
    </div>
    <div class="modal-text">Tem certeza que deseja sair?</div>
    <div class="modal-buttons">
      <button class="modal-cancel" (click)="cancelLogout()">Cancelar</button>
      <button class="modal-confirm" (click)="confirmLogout()">Sim</button>
    </div>
  </div>
</div>
