.body {
  margin: 0px 35px 20px 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  max-height: 800px;
  background-color: #D7F2BA;
  color: #262626;
}

h1{
  color: #262626;
  font-weight: bold;
  font-size: 32px;
  margin: 40px 50px;
}

.itens-list {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-height: 400px;
  height: 400px;
  overflow-y: auto;
}

.itens-header {
  position: sticky;
  padding: 10px 0px;
  top: 0;
  display: flex;
  border-radius: 5px;
  background-color: #768948;
  z-index: 0;
  font-weight: 600;
}

.itens-title {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0px;
}

.itens-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  background-color: #F9F9F9;
  max-height: 100px;
}

.itens-title:first-child {
  padding-left: 10px;
}

/* Cor de fundo para itens com índice par */
.itens-row.even {
  background-color: #F1F1F1; /* Cinza claro */
}

/* Cor de fundo para itens com índice ímpar */
.itens-row.odd {
  background-color: #E0E0E0; /* Cinza um pouco mais escuro */
}

button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

button img {
  width: 20px;
  height: 20px;
}

button.registrar {
  display: inline-block;
  width: auto;
  margin-top: 20px;
  border: 2px solid #768948;
  color: #768948;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: 0.2s;
  margin-bottom: 30px;
  margin-right: 40px;
}

button.registrar:hover {
  background-color: #768948;
  color: white;
  border: 2px solid #768948;
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .itens-title {
      font-size: 12px;
      padding: 6px 0px;
  }

  .itens-row {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
  }
}
$dark-green: #005410;
$white: #ffffff;
$red: #D90000;
$gray: #e5e5e5;
$indigo-light: #cbd5e1;
$green: #768948;
$dark-gray: #262626;

// Estilos principais
#createProductModal {
  .bg-white {
    background-color: $white;
  }

  .text-dark-blue {
    color: $dark-gray;
  }

  .text-red-600 {
    color: $red;
  }

  .modal-title{
    font-size: 22px;
  }

  .text-indigo-300 {
    color: $dark-gray;
  }

  .rounded-lg {
    border-radius: 12px;
  }

  textarea{
    height: 150px;
  }

  .input-field {
    background-color: $white;
    color: black;
    border: 1px solid $green;
    padding: 0.5rem;
    width: 100%;
    border-radius: 8px;
    transition: border 0.2s ease-in-out;

    &:focus {
      border-color: $dark-green;
      outline: none;
    }
  }

  .btn-primary {
    background-color: $dark-green;
    color: $white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken($dark-green, 10%);
    }
  }

  .btn-disabled {
    background-color: #d1d5db !important; /* Cinza claro */
    color: #6b7280 !important; /* Cinza escuro */
    cursor: not-allowed !important;
  }


  .inserir-imagem{
    text-decoration: underline;
  }

  .img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 1rem;
  }
}

